    <!-- contact start -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="templatemo_contact_top shadow">
                <div class="templatemo_contact_top_title">CONTACT INFORMATION</div>
                <div class="templatemo_contact_top_sub">LOREM RUIS BIBENDUM</div>
                <p>This is free website template from templatemo. Morbi sagittis, purus eu vestibulum facilisis, dolor enim lacinia dui, vulputate dapibus lacus tortor at elit. Integer neque. Aenean molestie mollis sapien. Morbi scelerisque pellentesque nulla. Duis blandit, nunc sed porttitor congue, eros nisl consectetuer purus, quis elementum leo risus pharetra quam. Nulla posuere. Morbi et nisi in augue accumsan imperdiet. Cras eget ante ac leo pretium mollis. Duis convallis rutrum leo.</p>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="row margin30">
        <div class="col-md-12">
            <div class="templatemo_contact shadow">
                <div class="title">CONTACT US</div>
                <div class="subtitle">LOREM RUIS BIBENDUM</div>
                <div class="col-md-6">
                    <form action="#" method="post">
                        <input type="text" name="textfield" id="nametext" class="name" placeholder="NAME">
                        <input type="text" name="textfield" id="emailtext" class="email" placeholder="EMAIL">
                        <textarea name="" class="message" placeholder="MESSAGE ... "></textarea>
                        <button type="submit" class="blue">SEND</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <div id="templatemo_map"></div>
                </div>
                <div class="clear"></div>
            </div>

        </div>

    </div>
</div>
<!-- contact end -->
