    <!-- home start -->
<div class="container">
    <div class="row">
        <div class="templatemo_home_top">
            
                <div class="templatemo_home_top_left shadow">
                    <div class="templatemo_hometop_title">Blitzball</div>
                    <div class="templatemo_hometop_stitle">Training Courses</div>
                    <p>
                        This is where employees will find all of the annual training courses that they must undergo.
                    </p>
                    <a href="@Url.Action("Index", "Courses")"><div class="templatemo_buttongreen">View Your Courses</div></a>
                    <div class="clear"></div>
                </div>
            
            @*<div class="col-md-4"><img src="images/templatemo_home01.jpg" class="shadow" alt="templatemo home image01"></div>*@
        </div>
    </div>
</div>
@*<div class="container">
    <div class="row margin30">
        <div class="col-md-4">
            <div class="templatemo_home_midleft shadow">
                <div class="templatemo_home_midleft_in">
                    <div class="small">LOREM IPSUMS</div>
                    <div class="big">CUIS BENDU</div>
                    <a href="#"><div class="button">LOREM IP SUMS</div></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-md-4 s_margin30">
            <div class="templatemo_home_midmid shadow">
                <div class="big">
                    BIBENDUM AUCTOR
                    <span class="icon">i</span>
                </div>
                <div class="small">LOREM IPSUMS DOLOR</div>
                <div class="para">
                    Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                </div>
                <div class="green">
                    MORBI ACCUSAN SANTOS NAMIPSUM VELIT AM NEDOLOR TOELLUS A ODIOO.
                </div>
                <div class="readmore"><a href="#">READ MORE</a></div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-md-4 s_margin30">
            <img src="images/templatemo_home02.jpg" class="shadow" alt="templatemo home image02">
            <div class="templatemo_home_midright">
                <div class="big">BIBENDUM AUCTOR</div>
                <div class="small">LOREM IPSUMS DOLOR</div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row margin30">
        <div class="col-md-8">
            <div class="templatemo_home_botleft shadow">
                <div class="movie">
                    <a href="#"><img src="images/templatemo_home03.jpg" alt="templatemo home image03"></a>
                </div>
                <div class="para">
                    <div class="big">LOREM IPSUMS DOLOR</div>
                    <div class="text">
                        Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc.
                    </div>
                    <a href="#"><div class="templatemo_buttongreen">LOREM IP SUMS</div></a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 s_margin30">
            <div class="templatemo_home_botright shadow">
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-1">POPULAR</a></li>
                        <li><a href="#tabs-2">RECENT</a></li>
                    </ul>
                    <div id="tabs-1">
                        <div class="templatemo_popular_wrapper">
                            <a href="#">
                                <div class="popular_box">
                                    <div class="image"><img src="images/templatemo_popular01.jpg" alt="popular 1"></div>
                                    <div class="text">Phasellus sed metus. Mauris dapibus eros vitae tortor. Donec rutrum odio.</div>
                                </div>
                            </a>
                            <div class="clear"></div>
                            <a href="#">
                                <div class="popular_box">
                                    <div class="image"><img src="images/templatemo_popular02.jpg" alt="popular 2"></div>
                                    <div class="text">Donec leo sem, commodo in, bibendum iaculis, euismod vitae, risus.</div>
                                </div>
                            </a>
                            <div class="clear"></div>
                            <a href="#">
                                <div class="popular_box">
                                    <div class="image"><img src="images/templatemo_popular03.jpg" alt="popular 3"></div>
                                    <div class="text">Nam auctor elementum dolor. Donec euismod, justo sed convallis blandit.</div>
                                </div>
                            </a>
                            <div class="clear"></div>
                            <a href="#">
                                <div class="popular_box">
                                    <div class="image"><img src="images/templatemo_popular04.jpg" alt="popular 4"></div>
                                    <div class="text">Phasellus sed metus. Mauris dapibus eros vitae tortor. Donec rutrum odio.</div>
                                </div>
                            </a>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div id="tabs-2">
                        <div class="templatemo_recent_wrapper">
                            <a href="#">
                                <div class="recent_box">
                                    <div class="image"><img src="images/templatemo_recent01.jpg" alt="recent 1"></div>
                                    <div class="text">Nam auctor elementum dolor. Donec euismod, justo sed convallis blandit.</div>
                                </div>
                            </a>
                            <div class="clear"></div>
                            <a href="#">
                                <div class="recent_box">
                                    <div class="image"><img src="images/templatemo_recent02.jpg" alt="recent 2"></div>
                                    <div class="text">Phasellus sed metus. Mauris dapibus eros vitae tortor. Donec rutrum odio.</div>
                                </div>
                            </a>
                            <div class="clear"></div>
                            <a href="#">
                                <div class="recent_box">
                                    <div class="image"><img src="images/templatemo_recent03.jpg" alt="recent 3"></div>
                                    <div class="text">Phasellus sed metus. Mauris dapibus eros vitae tortor. Donec rutrum odio.</div>
                                </div>
                            </a>
                            <div class="clear"></div>
                            <a href="#">
                                <div class="recent_box">
                                    <div class="image"><img src="images/templatemo_recent04.jpg" alt="recent 4"></div>
                                    <div class="text">Donec leo sem, commodo in, bibendum iaculis, euismod vitae, risus.</div>
                                </div>
                            </a>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<!-- home end -->
