<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=SQL5052.site4now.net;Initial Catalog=db_a745ec_lms;User Id=db_a745ec_lms_admin;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
  <add name="LMSEntities1" connectionString="metadata=res://*/LMSProjectModel.csdl|res://*/LMSProjectModel.ssdl|res://*/LMSProjectModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5052.site4now.net;Initial Catalog=db_a745ec_lms;User Id=db_a745ec_lms_admin;Password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>